.color-white {
    color: #ffffff;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.img-size {
    max-width: 100%;
    height: auto;
}

.profile-size {
    max-width: 100%;
    height: auto;
    width: 20%;
}

.text-ellipsis {
	display: table;
	table-layout: fixed;
	width: 100%;
	// white-space: nowrap;
    
}

.text-ellipsis > * {
	display: table-cell;
	overflow: hidden;
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp : 3; 
    -webkit-box-orient: vertical;
}

.align-right {
    float: right;
}

.scroll {
    overflow: auto;
    width: 100%;
}

textarea {
    width: 100%;
    height: 25em;
    border: none;
    resize: none;
}
