.color-white {
    color: #ffffff;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.color-gray {
  color: gray;
}

.img-size {
    max-width: 100%;
    height: auto;
}

.file-upload-img-size {
    width: 50px;
}

.profile-area {
  max-width: 100%;
  height: auto;
  width: 22%;
}

.profile-size {
  max-width: 100%;
  height: auto;
}

.text-ellipsis {
	display: table;
	table-layout: fixed;
	width: 100%;
	// white-space: nowrap;
    
}

.text-ellipsis > * {
	display: table-cell;
	overflow: hidden;
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp : 3; 
    -webkit-box-orient: vertical;
}

.align-right {
    float: right;
}

.scroll {
    overflow: auto;
    width: 100%;
}

.close-button {
    position: absolute;
    width: 30%;
    height: 30%;
    right: 5%;
    border: 0;
}

.position-re {
    position: relative;
}

textarea {
    width: 100%;
    resize: none;
}

.textarea-h {
    height: 25em;
    border: none;
}

.textarea-comment-h {
    height: 40px;
}


.word-break {
    word-break: break-all;
}

.align-top {
    vertical-align: top;
}

.msg-h {
  height: 100vh;
}

.msg-input {
  width: 80%;
  bottom: 0;
  height: 35px;
}

.text-right {
  text-align: right;
}

.speech-bubble {
  background-color: #D4F4FA;
  padding: 0.8rem;
  border-radius: 1rem;
  max-width: 80%;
}

.pd-0 {
  padding: 0;
}

.msg-bg {
  background-color: #e5facd;
}

.msg-btn {
  width: 15%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-xl {
  font-size: x-large;
}